*.tif
*.h5
/outputs/*
/testing/*
*.npz
*.pyc
### PyDev ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/world_map
/data
/data_downsampled_blurred
